.stopwatch-wrapper {
  height: 100vh;
  background-image: linear-gradient(#d8e3f0, #cfdbeb);
  display: flex;
  align-items: center;
  justify-content: center;

  .disable {
    &:last-child {
      margin-left: 10px;
    }
  }

  h1 {
    color: #31456a;
    font-weight: 600;
    font-size: 34px;
    text-align: left;
    margin: 0px 0 15px;
  }

  .phone-wrapper {
    border-radius: 45px;
    background-color: #e3edf7;
    max-width: 320px;
    width: 320px;
    padding: 40px;
  }

  .disable {
    color: #948e8e;
    width: 100px;
    border-radius: 10px;
    height: 39px;
    border: none;
    box-shadow: 10px 2px 19px 4px #cad9e7c4;
    font-weight: 700;

    &:focus {
      outline: none;
    }
  }

  .watch {
    color: #31456a;
    font-weight: 600;
    font-size: 32px;
    border-radius: 100%;
    box-shadow: 10px 2px 19px 4px #cad9e7c4;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .btn {
    width: 100px;
    border-radius: 10px;
    height: 39px;
    border: none;
    box-shadow: 10px 2px 19px 4px #cad9e7c4;
    font-weight: 700;
    color: #31456a;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }

  .reset {
    width: 100px;
    border-radius: 10px;
    height: 39px;
    border: none;
    box-shadow: 10px 2px 19px 4px #cad9e7c4;
    font-weight: 700;
    color: red;
    margin-left: 10px;

    &:focus {
      outline: none;
    }
  }

  .dotted-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    border-radius: 100%;
    border-style: dotted;
    border-color: #5d5f5b30;
  }

  .events-log {
    padding: 0;
    max-height: 120px;
    overflow-y: auto;

    li {
      list-style: none;
      font-weight: 500;
      color: #919398;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-top: 1px solid #d9e5f1;
    }

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 1rem;
      border-right: 0.5rem solid transparent;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 1rem;
      border-radius: 1rem;
      height: 2rem;
      background: #a5b0bf;
    }
  }
}
